.sort-bar{
    background:#fff;
    border:1px solid #e5e5e5;
    border-radius:10px;

    padding:15px 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;

    box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.sort-title{
    font-size:18px;
    font-weight:600;
    color:#444;

    display:flex;
    align-items:center;
    gap:8px;
}

.sort-title i{
    color:#28a745;
}

#sort-select{
    width:240px;
    border-radius:8px;
    cursor:pointer;
    font-weight:500;
}
.card-title,
.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 48px;
}
.product-price{
    white-space: nowrap;
}
@media (max-width: 576px) {

    .product-name{
        font-size:14px;
    }

    .product-price{
        font-size:15px;
    }
    .card-img-top{
        width:85% !important;
    }
}
