<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href = "css/components.css" rel="stylesheet" >
    <link href ="css/metuStyle.css" rel = "stylesheet" >
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <footer class="footer-flower bg-light py-5">
        <div class="container">
            <div class="row g-4">

                <!-- Cột 1: Brand -->
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="images/logo1.png"
                        alt="Logo"
                        class="img-fluid mb-3"
                        style="max-width: 200px;">


                        <p><b>Cửa hàng hoa tươi chuyên:</b></p>
                        <ul>
                            <li>Hoa sinh nhật</li>
                            <li>Hoa cưới</li>  
                            <li>Hoa khai trương</li>
                            <li>Thiết kế hoa theo yêu cầu</li>
                            <li>Xuất hóa đơn VAT</li>
                            Giao hoa nhanh chóng, đảm bảo chất lượng. 
                        </ul>
                </div>

                <!-- Cột 2: Liên kết -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mb-3">Liên kết</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none text-dark d-block mb-2" href="#">Trang chủ</a></li>
                        <li><a class="text-decoration-none text-dark d-block mb-2" href="#">Sản phẩm</a></li>
                        <li><a class="text-decoration-none text-dark d-block mb-2" href="#">Hoa sinh nhật</a></li>
                        <li><a class="text-decoration-none text-dark d-block mb-2" href="#">Hoa cưới</a></li>
                        <li><a class="text-decoration-none text-dark d-block mb-2" href="#">Hoa khai trương</a></li>
                        <li><a class="text-decoration-none text-dark d-block mb-2" href="#">Thiết kế theo yêu cầu</a></li>
                        <li><a class="text-decoration-none text-dark d-block mb-2" href="#">Liên hệ</a></li>
                    </ul>
                </div>

                <!-- Cột 3: Liên hệ -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mb-3">Liên hệ</h5>
                        <a href="https://maps.app.goo.gl/NAfjMLhGhckMgjkW6" target="_blank" class="text-decoration-none text-dark contact-address">
                            Hoa Tươi Hiếu Phan, Phường An Phú, TPHCM
                        </a>
                        
                    <p class="mb-2">📞 0972378857 - 0345204175</p>
                    <p class="mb-0">✉️ hoatuoihieuphan@gmail.com</p>
                </div>

                <!-- Cột 4: Social -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mb-3">Kết nối</h5>

                    <div class="d-flex gap-3 fs-4">
                        <a href="https://www.facebook.com/Hoatuoitranflower" class="" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook"></i>
                        </a>
                        
                    </div>
                </div>

            </div>

        </div>
    </footer>
    <div id="metu">
        <div class="mmt-app mmt-app--pink">

            <div class="mmt-menu__item">
            <a class="facebooklink" target="_blank" href="https://www.messenger.com/t/100424904680319">
                <span class="mmt-button call">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="white">
                    <path d="M12 2C6.48 2 2 6.13 2 11.2c0 2.88 1.43 5.44 3.68 7.14V22l3.5-1.92c.9.25 1.85.38 2.82.38 5.52 0 10-4.13 10-9.2S17.52 2 12 2zm1.1 11.8-2.8-3-5.4 3 5.9-6.3 2.7 3 5.4-3-5.8 6.3z"/>
                </svg>
                <span class="mmt-button__label">Chat Facebook</span>
                </span>
            </a>
            </div>

            <div class="mmt-menu__item">
            <a class="zalolinkx" target="_blank" href="https://zalo.me/0972378857">
                <span class="mmt-button zalo">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="white">
                    <circle cx="12" cy="12" r="10" fill="white"/>
                    <text x="12" y="16" text-anchor="middle" font-size="10" fill="#ff4da6" font-weight="bold">Z</text>
                </svg>
                <span class="mmt-button__label">Nhắn tin Zalo</span>
                </span>
            </a>
            </div>

            <div class="mmt-menu__item">
            <a class="hotlinelink" href="tel:0972378857">
                <span class="mmt-button call">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="white">
                    <path d="M6.6 10.8c1.6 3.1 4.1 5.6 7.2 7.2l2.4-2.4c.3-.3.7-.4 1.1-.3 1.2.4 2.5.6 3.7.6.6 0 1 .4 1 1V21c0 .6-.4 1-1 1C10.3 22 2 13.7 2 3c0-.6.4-1 1-1h3.5c.6 0 1 .4 1 1 0 1.3.2 2.5.6 3.7.1.4 0 .8-.3 1.1L6.6 10.8z"/>
                </svg>
                <span class="mmt-button__label">0972378857</span>
                </span>
            </a>
            </div>

        </div>
    </div>
</body>
</html>